name: Learn GitHub Action

on: 
  push:

jobs:
  deploy: 
    runs-on: ubuntu-latest
    steps:
      - name: Print Variables
        run: |
          echo "App Name: ${{ vars.APP_NAME }}"
          echo "App Version: ${{ vars.APP_VERSION }}"
